.ToDoItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.ItemContent {
  margin-right: 50px;
  margin-left: 10px;
  width: 90%;
}

.ToDoItem .Title {
  font-size: 14px;
}

.ToDoItem .DueDate {
  font-size: 12px;
}

.ToDoItem .Action * {
  margin-right: 5px;
}

.ToDoItem input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.ToDoItem input[type="checkbox"]:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.ToDoItem input[type="checkbox"]:checked::before {
  content: "\2713";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
